<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<title>Tetris - Jogando</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
		<script src="http://cdn.html5quintus.com/v0.2.0/quintus-all.min.js"></script>
		<script src="./socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/static/game.js"></script>
	</head>
	<body>
		<div class="menu">
			<a class="menuComp" style="font-family: tetrisFont;" href="/">Tetris</a>
		</div> <br /> <br />
	</body>
</html>