<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width">
		<title>Tetris - Treino</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
		<script src="https://cdn.jsdelivr.net/gh/ryanpcmcquen/quintus-cdn@f772bdbc74df2b4983ab883fb23d73770361e639/quintus-all.min.js"></script>
		<script type="text/javascript" src="/static/solo-game.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
	</body>
</html>
