<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<title>Tetris - Treino</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
		<script src="https://cdn.jsdelivr.net/gh/ryanpcmcquen/quintus-cdn@f772bdbc74df2b4983ab883fb23d73770361e639/quintus-all.min.js"></script>
		<script type="text/javascript" src="/static/solo-game.js"></script>
	</head>
	<body>
		<div class="menu">
			<a class="menuComp" style="font-family: tetrisFont;" href="/">Tetris</a>
		</div> <br /> <br />
	</body>
</html>
