<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width">
		<title>Tetris - Treino</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
		<script src="http://cdn.html5quintus.com/v0.2.0/quintus-all.min.js"></script>
		<script type="text/javascript" src="/static/solo-game.js"></script>
	</head>
	<body>
		<div class="menu" >
			<a class="menuComp" style="font-family: tetrisFont;" href="/">Inicio</a>
		</div>
	</body>
</html>