.content {
	background-color: whitesmoke;
	color: black;
}

@font-face {
	font-family: tetrisFont;
	src: url(/static/tetris-font.ttf);
}

.bg-image {
	background-image: url(/static/tetris-img.png);
}

.titulo {
	font-family: tetrisFont;
	font-size: 48px;
	color: #2e312d;
}

.hider {
	overflow: hidden;
}